body{
    background: url(flat-frequently-asked-questions-background_23-2148167866.avif) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

#nav-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-right: 20px;
    padding-top: 5px;
  }
  
  #nav-item {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  #nav-link {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .nav-link:hover:active {
    text-decoration: none;
    color: black;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
  }
  
  header{
    position: fixed;
    top: 0;
    left: 0;
    display:block;
    flex-direction: row;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    backdrop-filter: blur(15px);
  }
  
  #header-img{
    max-width: 200px;
    height: auto;
  }

.accordian{
    width: 65%;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.accordian .accordian-title{
    margin-bottom: 30px;
    text-align: center;
}

.accordian .content-container .question{
    padding: 18px 0px;
    font-size: 22px;
    cursor: pointer;
    border-bottom: 1px solid black;

    position: relative;
}

.accordian .content-container .question::after{
    content: '+';
    position: absolute;
    right: -5px;
}

.accordian .content-container .answer{
    padding-top: 15px;
    font-size: 22px;
    line-height: 1.5;
    width: 100%;

    height: 0px;
    overflow: hidden;
    transition: .5s;
}

.accordian .content-container.active .answer{
    height: 180px;
}

.accordian .content-container.active .question{
    font-size: 18px;
    transition: .5s;
}

.accordian .content-container.active .question::after{
    content: '-';
    font-size: 30px;
    transition: .5s;
}
