<!--{% load static %}-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>International Getaway</title>
    <link rel="stylesheet" href="index.css" type="text/css"> <!--{% static 'index.css'%}-->
    <link rel="stylesheet" href="https://s.pageclip.co/v1/pageclip.css" media="screen">
    <script src="index.js"></script>
</head>

<body>
    <header>
        <nav>
            <img src="https://teachbeyond.org/site-content/uploads/Beyond-Borders-Logo-2.png" id="header-img">
            <ul id="nali">
                <li id="na"><a href="" id="nl">Home</a></li>
                <li id="na"><a href="" id="nl">About</a></li>
                <li id="na"><a href="FAQ\FAQ.html" id="nl" target="_blank">FAQ</a></li>
            </ul>
        </nav>
    </header>
   
    <div id="wel">
        <p id="wtxt">Welcome to BEYOND BORDERS</p>
    
        <div id="oioioi">
            <p id="wdt">Welcome, to our website dedicated to helping Indian students study abroad! Studying abroad is an incredible experience that can have a profound impact on your personal, academic, and professional growth. It provides a unique opportunity to immerse yourself in a new culture, learn a new language, and gain a fresh perspective on the world. However, the process of planning and preparing for studying abroad can be daunting and overwhelming. Our website is here to guide you through the process and help you make the most of your study abroad experience. We offer a wealth of resources, tips, and advice on everything from choosing a program to adjusting to life in a new country. Whether you're considering studying abroad for the first time or you're a seasoned traveler, we're here to support you every step of the way.</p>
        </div>
        <div class="arrow arrow-first"></div>
        <div class="arrow arrow-second"></div>
    </div>

    <div id="que">
        <p>Why Use a University Recommendation System  Rather than Google or Online Counselling ?</p>
    </div>

    <div id="par">

    <main>
    
    <section>
    
    <p>Here Are Some of the Major Benefits of Using  a University Recommendation System : </p>

    <ul>
        <li>
            <strong>Personalization:</strong> A recommendation system can personalize recommendations based on a student's specific interests, academic background, and career goals. This level of personalization can save students time and effort in searching for relevant information.
        </li>

        <li>
            <strong>Comprehensive:</strong> A recommendation system can provide students with a comprehensive view of available courses, programs, and resources that they may not have been aware of through a Google search or counseling.
        </li>  
            
        <li>
            <strong>Efficient:</strong> A recommendation system can make the search process more efficient by suggesting courses and programs that are relevant to a student's interests and goals. This saves students time and effort that would otherwise be spent sifting through irrelevant information.
        </li>  
        
        <li>
            <strong>Consistent</strong>: A recommendation system can provide consistent advice and guidance to students, regardless of the counselor's workload or experience.
        </li>

        <li>
            <strong>Accessible:</strong> A recommendation system can be accessed 24/7, making it more accessible to students who may not have the time or resources to visit a counselor in person.
        </li>

        <li>
            
            <strong>Data-driven:</strong> A recommendation system can use data and analytics to continuously improve the relevance and accuracy of its recommendations, providing students with the most up-to-date information.
        
        </li>
        
        <li>

            <strong>Unbiased:</strong> A recommendation system can provide unbiased recommendations, free from personal biases or opinions that may influence the advice provided by a counselor.
        
        </li>
    </ul>

    <p>
        Overall, a university recommendation system can provide students with a personalized, comprehensive, efficient, consistent, accessible, data-driven, and unbiased source of information and guidance when it comes to choosing courses, programs, and resources that best fit their interests and career goals.
    </p>

    <p>But Before We can help you we must get to know you, So please fill the Fields Given Below in the form and Submit.</p>

    </section>
    </main>
    </div>

    <div id="info">
        <p class="hed">Let Us Get To Know You</p>
    </div>

    <section class="tab">
        <form action="https://send.pageclip.co/Uoqm3nvf7TcpI8NOAsvPFP3QCvBkfcqS" class="pageclip-form" method="post">
        <!--<form action="res" method="POST">-->
            <!--{% csrf_token %}-->
            <fieldset>
                <div class="name"><input type="text" name="name" maxlength="42" id="inp"><span></span><label for="name" id="label">Name</label></div>
                <div class="name"><input type="number" name="cgpa" max="10" step="any" required id="inp"><span></span><label for="cgpa" id="label">CGPA</label></div>
                <div class="name"><input type="number" name="gre" max="340" step="any" id="inp"><span></span><label for="gre" id="label">GRE Score</label></div>
                <div class="name"><input type="number" name="toefl" max="120" step="any" id="inp"><span></span><label for="toefl" id="label">TOEFL Score</label></div>
                <div class="name"><input type="text" name="country" id="inp"><span></span><label for="country" id="label">Country</label></div>

                <!--<select>
                    <option>Select a preferred country:</option>
                    <optgroup label="America">
                        <option>United States</option>
                    </optgroup>
                    <option>United Kingdom</option>
                    <option>Germany</option>
                </select>-->
                <input class="r" type="reset" value="Reset" class="pageclip-form__submit">
                <input class="s" type="submit" value="Submit">
            </fieldset>
        </form>

    </section>
<script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>
</body>
</html>
