
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Center the main content area */
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Add a background color and padding to the header */
  .intro {
    padding: 5px;
    background-color: #f2f2f2;
  }
  body{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  /* Add a background color and padding to the footer */
  .tab {
    cbackground-image: url("https://external-preview.redd.it/RelhcXTdpq29udXDwRRoL-whIPfc2H1t9tap2UHaGqs.png?width=1080&height=565.445026178&auto=webp&s=aa748dadb098f3ca99d00bd12ab3545b8b10b54c");
    padding: 80px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    background-attachment: fixed;
    height: 650px;
  }
  
  /* Style the form inputs and labels */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  fieldset{
    padding: 20px;
    border-radius: 10px;
    border-color: #a4b9a570;
    background: transparent;
    backdrop-filter: blur(15px);
    border-width: 5px;
    width: 500px;
    color: #f2f2f2;
    height: 525px;
  }
  
  form label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
/*  form input[type="text"],
  form input[type="email"],
  form input[type="number"],
  form input[type="date"] {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
  }

  form input[type="tel"] {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 300px;
  }
  
  form input[type="submit"] {


    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    transition: all 0.5s;
  }

  form input[type="reset"] {

    background-color: lightseagreen;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
  }
  */
  form input[type="submit"]:hover{
    background-color: #3e8e41;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  form input[type="submit"],form input[type="reset"] {
    transition: 0.5s;
  }
  form input[type="submit"] :after ,form input[type="reset"] :after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  form input[type="submit"]:hover,form input[type="reset"]:hover  {
    padding-right: 25px;
  }
  
  form input[type="submit"]:hover :after ,form input[type="reset"]:hover :after {
    opacity: 1;
    right: 0;
  }

form input[type="reset"]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

form input[type="radio"]{
  margin: 20px;
}
button {
  border: 0;
  padding: 20px;
  background-color: chocolate;
  border-radius: 30px;
  opacity: 0.8;
  transition: 0.3s;
}
button:hover {
  cursor: pointer;
  opacity: 1;
}

.s{
  display: block;
  margin: 0 38%;
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 100px;
}

.r{
  display: block;
  margin: 0 38%;
  background-color: lightseagreen;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
  width: 100px;
}

.hed{
  text-align: center;
  font-size: 1.6rem;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#nali {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-right: 20px;
  padding-top: 5px;
}

#na {
  padding: 15px;
}

#nl {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.nl:hover:active {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  display:block;
  flex-direction: row;  
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  backdrop-filter: blur(15px);
}

#header-img{
  max-width: 200px;
  height: auto;
}

#wel {
  background-image: url("https://static.wixstatic.com/media/fadc828f3819492293734e9444605b5a.jpg/v1/fill/w_1783,h_925,fp_0.40_0.22,q_85,usm_0.66_1.00_0.01,enc_auto/fadc828f3819492293734e9444605b5a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 780px;
  padding-top: 100px;
  background-attachment: fixed;   /*parallax*/
}
#wtxt {
  color: #f2f2f2;
  text-align: center;
  padding-top: 120px;
  text-transform: uppercase;
  vertical-align: baseline;
  text-align: center;
  line-height: 1.25em;
  font-size: 72px;
  font-family: Arial,Helvetica,sans-serif;
}
#wdt {
  color: #f2f2f2;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  padding: 70px;
}
#oioioi {
  border: 5px solid #4CAF50;
  border-radius: 10px;
  margin: 70px;
  background-color: rgba(0, 0, 0, 0.7);
}

#par {
  background-image: url("https://get.wallhere.com/photo/drawing-colorful-illustration-digital-art-abstract-artwork-symmetry-graphic-design-glass-pattern-geometry-circle-ART-light-color-shape-design-line-modern-art-243800.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  width: 100%;
  height: 450px;
  padding: 10px;
  background-attachment: fixed;
  color: aliceblue;
}
#que {
  display: block;
  margin: 0;
  text-align: center;
  background-color: rgb(98, 98, 98);
  height: 100px;
  padding: 40px;
  color: #f2f2f2;
}
#info {
  display: block;
  background-color: blanchedalmond;
  height: 70px;
  padding: 20px;
}
#label {
  display: block;
}
form .name {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.name input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.name label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.name span::before {
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.name input:focus ~ label {
  top: -5px;
  color: #2691d9;
}
.name input:focus ~ span::before {
  width: 100%;
}
select {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 3px solid #2691d9;
}

/*
[type="text"]:invalid, [type="number"]:invalid {
  border-bottom: 3px solid red;
}
[type="text"]:valid, [type="number"]:valid {
  border-bottom: 5px solid green;
}
[type="text"]:not(:placeholder-shown):invalid, [type="number"]:not(:placeholder-shown):invalid {
  border-bottom: 3px solid red;
}
[type="text"]:not(:placeholder-shown):valid, [type="number"]:not(:placeholder-shown):valid {
  border-bottom: 5px solid green;
}
[type="text"]:not(:placeholder-shown):not(:focus):invalid {
  border-bottom: 3px solid red;
}
[type="text"]:not(:placeholder-shown):not(:focus):valid, [type="number"]:not(:placeholder-shown):not(:focus):valid {
  border-bottom: 5px solid green;
}
*/

/*arrow*/
/*$ani-speed: 2s;
$ani-delay: 1s;

.arrow {
    opacity: 0;
    position: absolute;
        left: 50%;
        top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
}

.arrow-first {
  animation: arrow-movement $ani-speed ease-in-out infinite;
}
.arrow-second {
  animation: arrow-movement $ani-speed $ani-delay ease-in-out infinite;
}

.arrow:before,
.arrow:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px; 
    position: absolute;
        top: 0;
        left: 0;
    width: 30px;
}

.arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
}

.arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
}*/

/* Animation */
/*@keyframes arrow-movement {
    0% { 
        opacity: 0;
        top: 45%;
    }
    70% {
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}*/

